<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
    />
    <title>LiveSync-Meet - <%= roomId %></title>
    <link rel="icon" type="image/jpeg" href="/icon/icon-ls.jpg" sizes="64x64" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.5.5/dist/peerjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      const ROOM_ID = "<%= roomId %>";
      const USERNAME = "<%= username %>";
      console.log("Room ID:", ROOM_ID);
      console.log("Username:", USERNAME);
    </script>
  </head>
  <body>
    <div id="main-meet-wrapper">
      <div class="video-grid" id="video-grid">
        <!-- JS adds each <video> here -->
      </div>
      <aside class="chat-sidebar">
        <div class="chat-title">
          Chat
          <small class="text-muted">(You are: <%= username %>)</small>
        </div>
        <ul class="messages"></ul>
        <div class="chat-input-wrapper">
          <input
            type="text"
            id="chat-input"
            class="chat-input"
            placeholder="Type your messages and press Enter..."
          />
        </div>
      </aside>
    </div>

    <nav class="controls-bar">
      <button class="control-btn main_mute_button" onclick="muteUnmute()">
        <i class="fas fa-microphone"></i><span>Mute</span>
      </button>
      <button class="control-btn main_video_button" onclick="playStop()">
        <i class="fas fa-video"></i><span>Stop Video</span>
      </button>
      <button class="control-btn">
        <i class="fas fa-users"></i><span>Participants</span>
      </button>
      <button class="control-btn" id="share_screen">
        <i class="fas fa-desktop"></i><span>Share Screen</span>
      </button>
      <button class="control-btn" onclick="toggleChat()">
        <i class="fas fa-comments"></i><span>Chat</span>
      </button>
      <button class="leave-btn" onclick="leaveMeeting()">Leave Meeting</button>
    </nav>

    <script>
      // Toggle chat sidebar with class for smooth transition
      function toggleChat() {
        const chatSidebar = document.querySelector(".chat-sidebar");
        chatSidebar.classList.toggle("collapsed");
      }
    </script>
  </body>
  <script src="script2.js"></script>
</html>
