<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
    />
    <title>LiveSync-Meet</title>
    <link rel="icon" type="image/jpeg" href="/icon/icon-ls.jpg" sizes="64x64" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.5.5/dist/peerjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      const ROOM_ID = "<%= roomId%>";
    </script>
  </head>
  <body>
    <div class="main">
      <div class="main_left">
        <div class="main_video">
          <div id="video-grid">
            <!-- <span class="tex">Me</span> -->
          </div>
        </div>

        <div class="main_control">
          <div class="main_control_block">
            <div
              onclick="muteUnmute()"
              class="main_control_button main_mute_button"
            >
              <i class="fa-solid fa-microphone fa-1x"></i>
              <span>Mute</span>
            </div>
            <div
              onclick="playStop()"
              class="main_control_button main_video_button"
            >
              <i class="fa-solid fa-video fa-1x"></i>
              <span>Stop Video</span>
            </div>
          </div>

          <div class="main_control_block">
            <div class="main_control_button">
              <i class="fas fa-shield-alt"></i>
              <span>Security</span>
            </div>
            <div class="main_control_button">
              <i class="fas fa-user-friends"></i>
              <span>Participants</span>
            </div>
            <div class="main_control_button">
              <i class="fas fa-comment-alt"></i>
              <span>Chat</span>
            </div>
          </div>

          <div class="main_control_block">
            <div
              onclick="leaveMeeting()"
              class="main_control_button"
              id="leave"
            >
              <span class="leave_meeting">Leave Meeting</span>
            </div>
          </div>
        </div>
      </div>

      <div class="main_right">
        <div class="main_header">
          <h6>Chat</h6>
        </div>

        <div class="main_chat_window">
          <ul class="messages"></ul>
        </div>

        <div class="main_msg_container">
          <input
            type="text"
            id="chat_msg"
            placeholder="Type your messages..."
          />
        </div>
      </div>
    </div>
  </body>
  <script src="script2.js"></script>
</html>
